body {
    background: #ddd;
    font-family: lato;
}

div {
    position: relative;
    float: left;

    padding: 12px 20px;
    background: #eee;
    margin: 8px;
    font-size: 16px;

    max-height: 200px;
    overflow-y: auto;
    width: calc(100% - 56px);
}

input, button {
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 4px 2px;
}

input {
    width: 100px;
    font-size: 14px;
}

input.narrow {
    width: 48px;
}

 
button {
    padding: 4px 16px;
    background: #555;
    color: #ddd;
    margin-left: 10px;
}

button span {
    font-size: 14px;
    color: #b0b3d6;
}

span {
    font-size: 16px;
    color: #6d366d;
}

span span {
    font-size: 20px;
}

ul {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    margin: 0;
    padding: 4px;
}

.hidden {
    display: none;
}

ul.header {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

ul li {
    float: left;
    list-style: none;
    min-width: 200px;
}
